<div style="background-image: url(https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80);
  height: 100vh;  
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;">}
   <div class="container" style=" position:absolute; top:20%; left:8%; ">

<form action="/enviado" >
    <div class="form-group" style="display: block; position:relative;
    width:60%; margin: 0 auto; color:aliceblue; opacity: 0.9; ">
      <label for="examplenombre">Nombre</label>
      <input type="text" class="form-control" id="nombre"  placeholder="Ingresa tu nombre"  required>
    </div>

    <div class="form-group" style="display: block; position:relative;
    width:60%; margin: 0 auto; color:aliceblue; opacity: 0.9;">
      <label for="exampledireccion">Direccion</label>
      <input type="text" class="form-control" id="direccion" placeholder="Ingresa tu direccion" required >
      </div>

      <div class="form-group col-md-4" style="display: block; position:relative;
      width:25%; margin: 0 auto; color:aliceblue; opacity: 0.9;">
        <label for="departamento">Departamento</label>
        <select id="departamento" class="form-control">
          <option selected>Elije...</option>
          <option>Guaymallen</option>
          <option>Ciudad</option>
          <option>GodoyCruz</option>
          <option>Maipu</option>
        </select>
      </div>

   
    <div class="form-group" style="display: block; position:relative;
    width:60%; margin: 0 auto; color:aliceblue; opacity: 0.9;" >
        <label for="exampletelefono">Telefono</label>
        <input type="text" class="form-control" id="telefono"  placeholder="Ingresa tu telefono" required >
      </div>
    <button  type="submit" class="btn btn-outline-success" style="display:block; position:relative;
    width:40%; margin:0 auto; margin-top:30px;">Confirmar</button>
  </form>

</div>
   </div>
